



<template>
  <div class="container">
    <h1>Structure-based data collector</h1>

    <h2>Add most of structures page in here</h2>
    <h2>With a form that opens</h2>
  </div>
</template>

<script>
  //import { mapState, mapActions, mapMutations } from 'vuex'

  export default {
    name: 'structure_form',
    mounted() {
    },
    data() {
      return {}
    },
    methods: {}
  }
</script>

<style scoped>

</style>
