<template>
  <div>Thanks for coming
    <a href="https://swz.app-stage.disarm.io">your instance is live</a>
  </div>
</template>

<script>
  //import { mapState, mapActions, mapMutations } from 'vuex'

  export default {
    name: 'result',
    mounted() {
    },
    data() {
      return {}
    },
    methods: {}
  }
</script>

<style scoped>

</style>
